img {
    height: 300px;
    width: 450px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
    display: flex;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 750;
    display: flex;
}
.content_01 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 245px;
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sub_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 6px;
}

button.shop {
    font-weight: bold;
    font-size: 20px;
    background: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    color: #f9faf8;
    margin-top: 12px;
    height: 48px;
    width: 148px;
}

.engine {
    display: flex;
    align-items: center;
    height: 300px;
}

.content_02 img {
    width: 280px;
    height: 180px;
}

.title {
    justify-content: center;
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-top: 36px;
    margin-bottom: 36px;
}

.parts_text {
    margin-top: 18px;
    font-size: 18px;
}

.content_02 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap: 36px;
    margin-bottom: 36px;
}

.content_03 {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    justify-content: center;
}

.words {
    font-style: italic;
    margin-top: 55px;
    display: flex;
}

.name {
    font-weight: bold;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 55px;
}

.content_04 {
    display: flex;
    justify-content: center;
}

.order_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 66px;
    padding: 66px;
}

.order_header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 650px;
    font-size: 36px;
    color: #E5E7EB;
    margin-bottom: 6px;
}

.order_text {
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    color: #E5E7EB;
}

button.contact_us {
    font-weight: bold;
    font-size: 20px;
    background: #3882F6;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
    height: 48px;
    width: 148px;
    color: #E5E7EB;
}